body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: grey;
  font-family: sans-serif;
}
.form {
  background-color: rgba(255, 255, 255, 0.24);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 10px;
}
.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  border: solid 4px green;
  color: green;
}
.input:focus {
  outline: none;
}
.input::placeholder {
  color: rgba(211, 211, 211, 0.705);
  font-family: cursive;
}

.btn {
  background-color: green;
  color: rgba(255, 255, 255, 0.473);
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-family: cursive;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.btn:hover {
  filter: brightness(0.9);
}

.score {
  color: green;
  text-align: right;
}
