.fixedbox {
  /* fixed units 
       */
  /* px is the fixed units in the css */
  width: 400px;
  height: 400px;
}

.box1 {
  background-color: red;
}
.box2 {
  /* percentage is relative as per the size of the parent  */
  width: 50%;
  background-color: blue;
}

.box3 {
  /* em units is used for the font size as per the parent  */
  font-size: 10px;
}
.subbox1 {
  /* the parent of the subbox1 is box3 so it font size is 3 multiple by parent font  */
  font-size: 3em;
}

/* root tag  */
html {
  font-size: 20px;
}
box4 {
  /* rem doesnt take relative font as parent or as em doesnt, 
        it take font as per root i.e. html tag or brower default font  size
         */
  font-size: 20px;
}
.remBox {
  font-size: 2rem;
}

.box5 {
  /* 
        vw and vh takes size as per the viewport size of the device but percentage take 
        size as per the parent 
         */
  background-color: green;
  width: 100vw;
  height: 100vh;
}
