* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inline ul li {
  display: inline;
  background-color: red;
  /* top and bottom margin doesnot work */
  /* margin: 20px; */
  padding: 20px;
}
